@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}


@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: light;
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(72% 0.219 149.579);
    --color-primary-content: oklch(98% 0.018 155.826);
    --color-secondary: oklch(68% 0.169 237.323);
    --color-secondary-content: oklch(97% 0.013 236.62);
    --color-accent: oklch(58% 0.233 277.117);
    --color-accent-content: oklch(96% 0.018 272.314);
    --color-neutral: oklch(26% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


