@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: dark;

    --color-base-100: oklch(13% 0.028 261.692);
    --color-base-200: oklch(21% 0.034 264.665);
    --color-base-300: oklch(27% 0.033 256.848);
    --color-base-content: oklch(96% 0.003 264.542);
    --color-primary: oklch(82% 0.189 84.429);
    --color-primary-content: oklch(27% 0.077 45.635);
    --color-secondary: oklch(76% 0.177 163.223);
    --color-secondary-content: oklch(26% 0.051 172.552);
    --color-accent: oklch(84% 0.238 128.85);
    --color-accent-content: oklch(27% 0.072 132.109);
    --color-neutral: oklch(21% 0.034 264.665);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(64% 0.2 131.684);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);

    --radius-selector: 2rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: light;
    --color-base-100: oklch(96% 0.018 272.314);
    --color-base-200: oklch(93% 0.034 272.788);
    --color-base-300: oklch(87% 0.065 274.039);
    --color-base-content: oklch(35% 0.144 278.697);
    --color-primary: oklch(58% 0.233 277.117);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(55% 0.027 264.364);
    --color-secondary-content: oklch(98% 0.002 247.839);
    --color-accent: oklch(69% 0.17 162.48);
    --color-accent-content: oklch(97% 0.021 166.113);
    --color-neutral: oklch(45% 0.24 277.023);
    --color-neutral-content: oklch(96% 0.018 272.314);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 2rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
