# flyctl launch added from .idea\.idea.api\.idea\.gitignore
.idea\.idea.api\.idea\**\﻿# Default ignored files
.idea\.idea.api\.idea\shelf
.idea\.idea.api\.idea\workspace.xml
# Rider ignored files
.idea\.idea.api\.idea\.idea.api.iml
.idea\.idea.api\.idea\modules.xml
.idea\.idea.api\.idea\projectSettingsUpdater.xml
.idea\.idea.api\.idea\contentModel.xml
# Editor-based HTTP Client requests
.idea\.idea.api\.idea\httpRequests
# Datasource local storage ignored files
.idea\.idea.api\.idea\dataSources
.idea\.idea.api\.idea\dataSources.local.xml
fly.toml
